asgiref==3.11.1
dj-database-url==3.1.2
Django==6.0.3
et_xmlfile==2.0.0
gunicorn==25.1.0
lxml==6.0.2
openpyxl==3.1.5
packaging==26.0
python-docx==1.2.0
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
whitenoise==6.12.0
